.app-wrapper {
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 60px 1fr;


  grid-template-areas: 'h h'
                       'n c'
}

.app-wrapper-content {
    grid-area: c;
    background-color: gray;
}



